/build/
/dist/
/test/

# Created by https://www.gitignore.io/api/java,netbeans

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
build.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbproject/build-impl.xml
nbproject/project.xml
nbproject/project.properties
nbproject/genfiles.properties
.idea/artifacts/TransferGrid_jar.xml
.idea/artifacts/TransferGrid_jar.xml
.idea/compiler.xml
.idea/dictionaries/Ricardo.xml
.idea/artifacts/TransferGrid_jar.xml
.idea/encodings.xml
.idea/artifacts/TransferGrid_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/artifacts/TransferGrid_jar.xml
.idea
META-INF/MANIFEST.MF
META-INF
TransferGrid.iml

pom.xml
